*,
*::after,
*::before{
    margin: 0;
    padding:0;
    outline: none;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; //define 1rem correspondendo 10px
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
}




/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
