*,
*::after,
*::before{
    margin: 0;
    padding:0;
    outline: none;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; //define 1rem correspondendo 10px
    scroll-behavior: smooth;
  &.full-width {
  width: 100%;
  flex: 1 1 100%;
}
}
body{
    font-size: 1.6rem;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}