.home__content{
  position: relative;
  top: -0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: $gap;
  min-height: 100vh;
  &--text{
    @include configflex;
    h2{
      font-size: 6rem;
      margin-bottom: 5rem;
      line-height: 1.2;
    }
    p{
      font-size: 2rem;
      line-height: 1.5;
    }
  }
  &--img{
    @include configflex;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 800px){
  section > div.home__content{
       display: grid;
       grid-template-columns: 1fr;
     }
}
.contact-form{
  grid-column: span 2;
}
.form-grid{
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gap;
  legend{
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 3rem;
  }
}
.form-group{
  flex: 1 1 32rem;
  label{
    display: block;
    margin-bottom: 2rem;
  }
  input,textarea{
      border: none;
      background-color: $white-color;
      padding: 1.5rem 2rem;
      font-size: 2rem;
      width: 100%;
      &::placeholder{
        color: $light-gray-color-1;
      }
  }
  input:focus,textarea:focus{
    box-shadow: 0 0 .7rem .2rem rgba($secondary-color, $alpha: .7);
  }

  button{
    border: .5rem solid $white-color;
    padding: 1.4rem;
    background: none;
    color: $white-color;
    font-size: 2rem;
    transition: all .3s ease-in-out;
    &:hover{
      border: .5rem solid $white-color;
      background: $white-color;
      color: $primary-color;
      transform: translateY(.2rem);
    }
  }
}
