.home__content{
  position: relative;
  top: -0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: $gap;
  min-height: 100vh;
  &--text{
    @include configflex;
    h2{
      font-size: 6rem;
      margin-bottom: 5rem;
      line-height: 1.2;
    }
    p{
      font-size: 2rem;
      line-height: 1.5;
    }
  }
  &--img{
    @include configflex;
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
