@mixin configflex-home {
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
}
.main-bg{
    background-image: url('../img/Main-bg.svg');
    background-position:center center;
    background-size: cover;
    color: $white-color;
}
.white-bg{
    background-color: $white-color;
    color: $primary-color;
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem $gap;
}
.section-height{
    min-height: 100vh;
}
.menu-spacing{
  height: 6.5rem;
}

