*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  html.full-width {
    width: 100%;
    flex: 1 1 100%; }

body {
  font-size: 1.6rem; }

.main-bg {
  background-image: url("../img/Main-bg.svg");
  background-position: center center;
  background-size: cover;
  color: #fff; }

.white-bg {
  background-color: #fff;
  color: #0A1128; }

.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 10rem 3rem; }

.section-height {
  min-height: 100vh; }

.menu-spacing {
  height: 6.5rem; }

div.full-width {
  width: 100%;
  flex: 1 1 100%; }

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #0A1128;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 6rem;
  text-transform: uppercase; }

h2 {
  font-size: 5.5rem;
  text-transform: uppercase;
  line-height: 1.2; }

h3 {
  font-size: 5rem; }

h4 {
  font-size: 4.5rem; }

h5 {
  font-size: 4rem; }

h6 {
  font-size: 3.5rem; }

p {
  font-size: 1.6rem; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 0.1rem solid #eee; }
  .menu h1 {
    font-size: 2.3rem;
    color: #0A1128; }
    .menu h1 a {
      text-decoration: none;
      color: inherit; }
  .menu ul {
    list-style: none;
    display: flex; }
    .menu ul li a {
      display: block;
      text-decoration: none;
      color: #0A1128;
      font-size: 1.8rem;
      padding: 2rem 2rem;
      position: relative; }
      .menu ul li a::after {
        content: '';
        position: absolute;
        bottom: 1rem;
        left: 50%;
        width: 0%;
        height: 0.2rem;
        transition: all .3s ease-in-out; }
      .menu ul li a:hover::after {
        width: 50%;
        left: 25%;
        background-color: crimson; }

.menu-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0; }

.home__content {
  position: relative;
  top: -0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 3rem;
  min-height: 100vh; }
  .home__content--text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    .home__content--text h2 {
      font-size: 6rem;
      margin-bottom: 5rem;
      line-height: 1.2; }
    .home__content--text p {
      font-size: 2rem;
      line-height: 1.5; }
  .home__content--img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center; }
    .home__content--img img {
      max-width: 100%;
      height: auto; }

.contact-form {
  grid-column: span 2; }

.form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem; }
  .form-grid legend {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 3rem; }

.form-group {
  flex: 1 1 32rem; }
  .form-group label {
    display: block;
    margin-bottom: 2rem; }
  .form-group input, .form-group textarea {
    border: none;
    background-color: #fff;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    width: 100%; }
    .form-group input::placeholder, .form-group textarea::placeholder {
      color: rgba(10, 17, 40, 0.3); }
  .form-group input:focus, .form-group textarea:focus {
    box-shadow: 0 0 0.7rem 0.2rem rgba(220, 20, 60, 0.7); }
  .form-group button {
    border: 0.5rem solid #fff;
    padding: 1.4rem;
    background: none;
    color: #fff;
    font-size: 2rem;
    transition: all .3s ease-in-out; }
    .form-group button:hover {
      border: 0.5rem solid #fff;
      background: #fff;
      color: #0A1128;
      transform: translateY(0.2rem); }

.intro__content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  max-width: 64rem;
  text-align: center;
  padding: 7rem 1rem; }
  .intro__content h2 {
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    line-height: 1.2; }
  .intro__content p {
    font-size: 2rem; }
    .intro__content p:not(:last-child) {
      margin-bottom: 3rem; }

.grid-one {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }

.grid-one-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  .grid-one-content h2 {
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 1rem; }
  .grid-one-content p {
    margin-bottom: 7rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  counter-reset: gridcounnter; }
  .grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem; }
    .grid h3::before {
      counter-increment: gridcounnter;
      content: counter(gridcounnter);
      position: absolute;
      top: -4rem;
      left: -2rem;
      font-size: 8rem;
      font-style: italic;
      transform: rotate(5deg); }

.gallery-imagem {
  width: 100%;
  max-width: 36rem;
  max-height: 36rem;
  overflow: hidden; }
  .gallery-imagem img {
    transition: all .3s ease-in-out; }
    .gallery-imagem img:hover {
      transform: rotate(5deg) translate(-1rem, 1rem) scale(1.2); }

.responsive-table {
  overflow: hidden;
  overflow-x: auto; }

table {
  min-width: 35rem;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse; }
  table caption {
    text-align: left;
    margin-bottom: 1rem;
    font-style: italic;
    font-size: 1.6rem; }
  table td, table th {
    border: 0.05rem solid rgba(238, 238, 238, 0.7);
    padding: .5rem;
    text-align: left; }
  table thead, table tfoot {
    background: #eee; }
  table tfoot td {
    text-align: right;
    font-style: italic; }
